@import url('https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');

body {
	background-color: #010014;
	color: white;
}

h1, .heading {
	font-family: "Barlow", sans-serif;
	font-weight: 700;
}

.homeText {
	font-family: "Open Sans", sans-serif;
	font-weight: 900;
	color: white;
}

.defaultText, .defaultText.form {
	font-family: "Open Sans", sans-serif;
	color: white;
}

.defaultText.form {
	font-size: 20px;
	font-weight: 700;
}

.card-title, .appIcon {
	font-family: "Barlow", sans-serif;
	font-weight: 700;
}

.card-title {
	font-size: 20px;
}

.card-grid {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	gap: 20px;
}

.card-text {
	font-size: 16px;
	font-weight: 600;
	color: white;
}

.formInput {
	background-color: #020022;
	color: white;
}

.formInput::placeholder {
	font-family: "Open Sans", sans-serif;
	font-weight: 500;
	font-size: 14px;
	color: grey;
}

.homeText.secondary {
	color: grey;
	font-weight: 500;
}

.appIcon {
	font-weight: 800;
	text-decoration: none;
	color: white;
}

.primaryButton, .deleteButton, .editButton, .returnButton, .homeButton {
	font-family: "Open Sans", sans-serif;
	font-weight: 700;
	color: white;
	padding: 10px;
}

.primaryButton {
	background-color: #03DAC6;
}

.primaryButton:hover {
	background-color: #00b8a5;
}

.homeButton {
	font-weight: 800;
	background-color: #020040;
	padding: 15px;
}

.homeButton:hover {
	background-color: #020060;
	color: white;
}

.deleteButton {
	background-color: #ED5151;
}

.deleteButton:hover {
	background-color: #c44242;
}

.editButton {
	background-color: #028090;
}

.editButton:hover {
	background-color: #005F6B;
}

.returnButton {
	background-color: grey;
}

.returnButton:hover {
	background-color: rgb(110, 110, 110);
}

.navButtons {
	font-family: "Open Sans", sans-serif;
	font-weight: 600;
	color: grey;
	padding: 5px;
	text-decoration: none;
}

.navButtons.active {
	color: white;
}

.lightBackground {
	background-color: #020022;
}

.lighterBackground {
	background-color: #020030;
}

.center {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	min-height: 100vh;
	margin-top: -56px;
}