<!DOCTYPE html>
<html>

<head>
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha2/dist/css/bootstrap.min.css" rel="stylesheet"
		integrity="sha384-aFq/bzH65dt+w6FI2ooMVUpc+21e0SRygnTpmBvdBgSdnuTN7QbdgL+OapgHtvPp" crossorigin="anonymous">
	<link rel="stylesheet" href="../css/main.css">
	<meta charset="utf-8">
	<title>{{ pagetitle }}</title>
</head>

<body>
	<div class="container">
		<nav class="d-flex flex-wrap align-items-center justify-content-center justify-content-md-between py-3 mb-4">
			<div class="col-md-3 mb-2 mb-md-0">
				<a class="appIcon" href="/">R.ME</a>
			</div>

			<ul class="nav col-12 col-md-auto mb-2 justify-content-center mb-md-0">
				<li><a href="/" class="navButtons active" aria-current="page">home</a></li>
				<li><a href="/reminders" class="navButtons">reminders</a></li>
			</ul>

			<div class="col-md-3 text-end"></div>
		</nav>
	</div>

	<div class="px-4 py-5">
		<div class="py-5">
			<div class="col-lg-6 mx-auto text-center justify-content-center">
				<h1 class="display-5 homeText">Reminders Web Application</h1>
				<p class="homeText secondary fs-5 mb-4">The quickest and easiest way to set reminders to ensure you stay
					on top of your important tasks.</p>
					
				<div class="card lightBackground mb-4 w-100 rounded-3 shadow-lg">
					<div class="card-header py-3 text-left lighterBackground">
						<h4 class="defaultText form text-left">Where do you want to go?</h4>
					</div>
					<div class="card-body">
						<a class="w-75 mt-2 btn btn-lg primaryButton" href="/reminders">View Reminders</a> </br>
						<button type="button" class="w-75 mt-4 btn btn-lg primaryButton">Add a reminder</button>
					</div>
				</div>
			</div>
		</div>
	</div>
</body>

</html>